.container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

#chat_users {
  border: 1px solid powderblue;
  width: 19%;
  height: 100%;
  overflow: auto;
  float: right;
}

#chat_window {
    border: 1px solid powderblue;
    width: 80%;
    height: 100%;
    overflow: auto;
    float: left;
}

#input_form {
    width: 100%;
    margin: 0 auto;
}

#chat_input {
    width: 90%;
}

#chat_button {
    width: 10%;
}

p {
  margin: 0
}
